## 案例2: 预测纽约出租车车费

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

### 1. 加载训练集

In [ ]:
# 加载训练集
train = pd.read_csv("train.csv", nrows=1000000)

In [3]:
# 加载测试集
test = pd.read_csv("test.csv")

### 2. 数据分析、清洗

In [ ]:
train.shape

In [4]:
test.shape

(9914, 7)

In [ ]:
train.head()

In [5]:
test.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1

#### 检查数据中是否有空值

In [ ]:
# 统计空值的数量，根据数量大小排序
train.isnull().sum().sort_values(ascending=True)

In [6]:
# 统计空值的数量，根据数量大小排序
test.isnull().sum().sort_values(ascending=True)

key                  0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [ ]:
# 删除掉train中为空的数据
train.drop(train[train.isnull().any(1)].index, axis=0, inplace=True)

#### 检查车费fare_amount这一列

In [ ]:
train['fare_amount'].describe()

In [ ]:
# 统计train中车费小于0的数据有多少
from collections import Counter

Counter(train['fare_amount'] < 0)

In [ ]:
# 删除掉车费小于0的数据
train.drop(train[train['fare_amount'] < 0].index, axis=0, inplace=True)

In [ ]:
# 查看车费数据
train['fare_amount'].describe()

In [ ]:
# 可视化(直方图) ： 0 < 票价 < 100